{% extends "base.html" %}
{% load lineage %}
{% load bootstrap %}
{% load i18n %}
{% block content %}
<h2>{% trans "generate mapping using bank file"|title %}</h2>
<form enctype="multipart/form-data" role="form" method="post" action="generate-mapping">
        {% csrf_token %}
        {{ generate_form|bootstrap }}
        <button type="submit" class="btn btn-default">{% trans "Submit"%}</button>
</form>
<h2>{% trans "submit filled mapping file"|title %}</h2>
<form enctype="multipart/form-data" role="form" method="post" action="submit-mapping">
        {% csrf_token %}
        {{ submit_form|bootstrap }}
        <button type="submit" class="btn btn-default">{% trans "Submit"%}</button>
</form>
{% endblock %}
