SECRET_KEY = "{{ lookup('password', '/tmp/passwordfile') }}"
DEBUG = False
TEMPLATE_DEBUG = False
ALLOWED_HOSTS = ['{{ inventory_hostname }}']
DATABASES = {
    'default': {
        'ENGINE': 'django.db.backends.sqlite3',
        'NAME': '{{ db_file }}',
    }
}
LOGGING = {
    'version': 1,
    'disable_existing_loggers': False,
    'handlers': {
        'file': {
            'level': 'DEBUG',
            'class': 'logging.FileHandler',
            'filename': '{{ log_file }}',
            },
        },
    'loggers': {
        'django': {
            'handlers': ['file'],
            'level': 'DEBUG',
            'propagate': True,
        },
    },
}
