{% load i18n %}
<div style="max-height: 400px;overflow: auto;">
	<table class="table table-condensed table-hover">
		<thead>
			<tr>
				{% comment %}Translators: this is a cashflow type{% endcomment %}
				<th>{% trans "type"|title %}</th>
				<th>{% trans "date"|title %}</th>
				<th>{% trans "amount"|title %}</th>
				<th>{% trans "balance"|title %}</th>
			</tr>
		</thead>
		<tbody>
		{% for cashflow in cashflows %}
		<tr>
			<td>{{cashflow.description}}</td>
			<td>{{cashflow.date}}</td>
			<td>{{cashflow.amount}}€</td>
			<td>{{cashflow.balance}}€</td>
		</tr>
		{% endfor %}
		</tbody>
	</table>
</div>
