{% extends "base.html" %}
{% load lineage %}
{% load i18n %}
{% load static %}
{% block styles %}
<style>
	.jqstooltip {
		box-sizing: content-box;
	}
</style>
{% endblock %}
{% block content %}
	<table class="table table-condensed table-hover sortable">
		<thead>
			<tr>
				<th>{% trans "tenant"|title %}</th>
				<th>{% trans "property"|title %}</th>
				<th>{% trans "balance"|title %}</th>
				<th>{% trans "trend"|title %}</th>
				<th>{% trans "actions"|title %}</th>
			</tr>
		</thead>
		<tbody>
		{% for t in tenants %}
		<tr class="{{ t.css }}">
			<td>
				<span class="glyphicon glyphicon-chevron-right"></span>
				<a href="{% url 'admin:main_tenant_change' t.tenant.id %}">{{ t.tenant.name }}</a>
				<a class="cashflows" href="{% url 'tenant_cashflows' t.tenant.id %}">Cashflows</a>
			</td>
			<td>{{ t.tenant.property }}</td>
			<td>{{ t.tenant.balance }} €</td>
			<td>
				<span class="trend" normal-min="{{ t.normal_min }}"> {{ t.trend }}</span>
			</td>
			<td>
				<a href="{% url 'admin:main_tenantreminders_change' t.tenant.id %}" class="btn btn-default reminders {{t.reminder_css}}"><span class="glyphicon glyphicon-bullhorn"></span> {% trans "reminders"|title %} - {{t.reminders_count}}</a>
		       	</td>
		</tr>
		{% endfor %}
		</tbody>
	</table>
{% endblock %}
{% block scripts %}
<script src="{% static "main/sorttable.js" %}"></script>
<script src="{% static "main/jquery.sparkline.min.js" %}"></script>
<script>
	//expand on click
	$('a.cashflows').hide();
	$('tbody tr').click(function(event) {
		if ($(event.target).is('button,a') || $(event.target).parents('button,a').size() > 0) {
			return;
		}
		var collapse = $(this).hasClass('cashflows-expanded');
		$(this).toggleClass('cashflows-expanded', !collapse)
		.find('.glyphicon').first()
			.toggleClass('glyphicon-chevron-down', !collapse)
			.toggleClass('glyphicon-chevron-right', collapse);
		if (collapse) {
			$(this).next('tr').remove();
		} else {
			var tr = $('<tr>').insertAfter(this);
			//big colspan to take all columns
			var td = $('<td colspan="20">Loading...</td>')
			.appendTo(tr)
			.load($(this).find('a.cashflows').attr('href'));
		}
	});
	$('.trend').each(function() {
			var normalMin = JSON.parse($(this).attr('normal-min'));
			var trend = JSON.parse($(this).text());
			$(this).sparkline(trend, {
				width: '50px',
				height: '30px',
				normalRangeMax: 0,
				normalRangeMin: -normalMin,
				fillColor: false
			});
	});
</script>
{% endblock %}
