<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Proprio - bilan</title>

<!-- Bootstrap -->
<link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">

<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
					<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
					      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
						  <![endif]-->
</head>
<body>
<nav class="navbar navbar-default" role="navigation">
<div class="navbar-header">
	<a href="#" class="navbar-brand">PROPRIO</a>
</div>
<div class="collapse navbar-collapse">
	<ul class="nav navbar-nav">
		<li class="active"><a href="#">Bilan</a></li>
		<li><a href="#">Immeubles</a></li>
		<li><a href="#">Import bancaire</a></li>
	</ul>
</div>
</nav>
<div class="container">
	<table class="table table-condensed table-hover">
		<thead>
			<tr>
				<th>Locataire</th>
				<th>Balance</th>
				<th>Actions</th>
			</tr>
		</thead>
		<tbody>
		{% for tenant in tenant_list %}
		<tr {% if tenant.balance < 0 %}class="danger"{% endif %}>
			<td><span class="glyphicon glyphicon-chevron-right"></span> {{ tenant.name }}<a class="cashflows" href="{% url 'tenant_cashflows' tenant.id %}">Cashflows</a></td>
			<td>{{ tenant.balance }}€</td>
			<td><button type="button" class="btn btn-default"><span class="glyphicon glyphicon-euro"></span> Saisie paiement</button> <button type="button" class="btn btn-default receipts"><span class="glyphicon glyphicon-envelope"></span> Quittance</button> <button type="button" class="btn btn-warning"><span class="glyphicon glyphicon-envelope"></span> Relance</button></td>
		</tr>
		{% endfor %}
		</tbody>
	</table>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script>
	//expand on click
	$('a.cashflows').hide();
	$('tr').click(function(event) {
		if ($(event.target).is('button') || $(event.target).parents('button').size() > 0) {
			return;
		}
		var collapse = $(this).hasClass('cashflows-expanded');
		$(this).toggleClass('cashflows-expanded', !collapse)
		.find('.glyphicon').first()
			.toggleClass('glyphicon-chevron-down', !collapse)
			.toggleClass('glyphicon-chevron-right', collapse);
		if (collapse) {
			$(this).next('tr').remove();
		} else {
			var tr = $('<tr>').insertAfter(this)
			var td = $('<td colspan="3">Loading...</td>')
			.appendTo(tr)
			.load($(this).find('a.cashflows').attr('href'));
		}
	});
</script>
</body>
</html>
