{% extends "base.html" %}
{% load lineage %}
{% load i18n %}
{% block content %}
	<table class="table table-condensed table-hover">
		<thead>
			<tr>
				<th>{% trans "tenant"|title %}</th>
				<th>{% trans "balance"|title %}</th>
				<th>{% trans "actions"|title %}</th>
			</tr>
		</thead>
		<tbody>
		{% for tenant in tenant_list %}
		<tr {% if tenant.balance < 0 %}class="danger"{% endif %}>
			<td><span class="glyphicon glyphicon-chevron-right"></span> {{ tenant.name }} <a class="cashflows" href="{% url 'tenant_cashflows' tenant.id %}">Cashflows</a></td>
			<td>{{ tenant.balance }}€</td>
			<td>
				<button type="button" class="btn btn-default receipts"><span class="glyphicon glyphicon-envelope"></span> {% trans "write letter"|title %}</button>
				<button type="button" href="{% url 'tenant_reminders' tenant.id %}" class="btn btn-default reminders"><span class="glyphicon glyphicon-bullhorn"></span> {% trans "reminders"|title %}</button>
			</td>
		</tr>
		{% endfor %}
		</tbody>
	</table>
{% endblock %}
{% block scripts %}
<script>
	//expand on click
	$('a.cashflows').hide();
	$('tr').click(function(event) {
		if ($(event.target).is('button') || $(event.target).parents('button').size() > 0) {
			return;
		}
		var collapse = $(this).hasClass('cashflows-expanded');
		$(this).toggleClass('cashflows-expanded', !collapse)
		.find('.glyphicon').first()
			.toggleClass('glyphicon-chevron-down', !collapse)
			.toggleClass('glyphicon-chevron-right', collapse);
		if (collapse) {
			$(this).next('tr').remove();
		} else {
			var tr = $('<tr>').insertAfter(this)
			var td = $('<td colspan="3">Loading...</td>')
			.appendTo(tr)
			.load($(this).find('a.cashflows').attr('href'));
		}
	});
	$('.reminders').popover({
		placement: 'bottom',
		html: true,
		content: function() {
			var self = this;
			return $('<div>').text('loading...')
			.load($(this).attr('href'));
		}
	});
</script>
{% endblock %}
