{% load lineage %}
{% load i18n %}
{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>{% block title %}Proprio{% endblock %}</title>
<!-- Bootstrap -->
<link href="{% static "main/bootstrap-3.3.2-dist/css/bootstrap.css" %}" rel="stylesheet">

<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
{% block styles %}{% endblock %}
</head>
<body>
<nav class="navbar navbar-default" role="navigation">
<div class="navbar-header">
	<a href="/" class="navbar-brand">PROPRIO</a>
</div>
<div class="collapse navbar-collapse">
	<ul class="nav navbar-nav">
		<li class="{% ancestor '/main/' %}"><a href="/main/">{% trans "tenants"|title %}</a></li>
		<li class="{% ancestor '/import/' %}"><a href="/import/">{% trans "bank import"|title %}</a></li>
		<li class="{% ancestor '/admin/' %}"><a href="/admin/">{% trans "admin"|title %}</a></li>
	</ul>
	<ul class="nav navbar-nav navbar-right">
		<li><a href="/accounts/logout">{% trans "logout"|title %}</a></li>
	</ul>
</div>
</nav>
<div class="container">
	{% block content %}{% endblock %}
</div>
<hr/>
<footer>
<div class="container">
	{% trans "created by"|capfirst %} <a href="https://github.com/oadam">Olivier Adam</a>
</div>
</footer>
<script src="{% static "main/jquery-1.11.2.min.js" %}"></script>
<script src="{% static "main/bootstrap-3.3.2-dist/js/bootstrap.min.js" %}"></script>
{% block scripts %}{% endblock %}
</body>
</html>
